.header {
    height: 140px;
    position: sticky;
    top: 0;
    /* z-index: 20; */
    background-color: white;
    border-bottom: #e9e9e9 1px solid;
  }
  
  .header__overlay {
    border-bottom: 1px solid #e9e9e9;
  }
  
  .header__overlay .container {
    display: flex;
    justify-content: space-between;
    height: 82.5px;
    align-items: center;
    margin: 0 auto;
  }
  
  .header__logo {
    margin: 0 auto;
  }
  
  .header__nav {
    display: flex;
    justify-content: center;
  }
  .header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 57.5px;
  }
  
  .header__nav-item {
    display: flex;
    gap: 0.25rem;
  }
  
  .header__nav-item::after {
    content: "";
    background-image: url("../src/icons/chevron-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 6px;
    position: relative;
    top: 0.3rem;
  }
  .header__nav-item:hover:not(:last-child) {
    /* background-color: aqua; */
  }
  