@import url("./reset.css");
@import url("./text.css");
@import url("./header.css");
@import url("./content.css");

body {
  color: white;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
