@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

html, .body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}
    
h2 {
    font-weight: bold;

    color: #000000;
    font-size: 1.5rem;
    line-height: 2rem;
}



li {
    line-height: 1rem;
    font-weight: 700;
    color: #000000;
}

a {
    color:#000000
}

.content__card p {
    font-weight: normal;
    color: #929292;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.content__card h3 {
    color: #EB0028;
    font-weight: 900;
    font-size: 13px;
    line-height: 13px;
}

.content__card a {
    color: #000000;
    font-weight: 900;
    font-size: 0.75rem;
    line-height: 1rem;
}

.content__card span {
    color: #9b9b9b;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
}

.header__nav-sublist-item a {
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    line-height: 1em;
}